@model BlogPostModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var isAuthenticated = HttpContextAccessor.HttpContext.Session.GetString("isAuthenticated");
}

@* Should be used only if you need to use HomeController that will run the code in a sync way *@

@if(Convert.ToBoolean(isAuthenticated))
{
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Create">Add Blog Post</a>
    </div>
}

<div>
        <div id="time">
        <span>Execution time in seconds : @Model.ExecutionTime</span>
        <br />
    </div>  
     <table class="table" style="border: 2px solid black;">

        <tr>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Image
            </th>
        </tr>

    @foreach (var item in Model.BlogPosts)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(Model => item.Title)
            </td>
            <td>
                @Html.DisplayTextFor(Model => item.Content)
            </td>
            <td>
                <img src="@item.ImageUrl"; width="100"; height="100"; />
            </td>

        </tr>
    }

    </table>
</div>