.text-color {
    color: rgba(41, 0, 243, 0.766) !important;
}

.underlined-text:hover {
    text-decoration: underline;
    text-decoration-color: rgba(41, 0, 243, 0.192);
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}
