.main-content {
    justify-content: center;
    align-items: center;
    max-width: 910px;
    margin-top: 80px;
    margin-left: 75px;
}

.area {
    margin-bottom: 10px;
    border-width: 3px;
    border-color: #6c757d5f;
}

.image-section {
    border-right: 2px solid #6c757d5f;
    display: block;
    width: auto;
    align-items: center;
}

.image-content {
    height: 180px;
    padding: 10px 0;
}

.card-title a {
    color: rgba(41, 0, 243, 0.766);
}

.text-color {
    color: rgba(41, 0, 243, 0.766);
}

.underlined-text {
    text-decoration: underline;
    text-decoration-color: rgba(41, 0, 243, 0.192);
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.card-text {
    margin-top: 10px;
}

.date-area {
    font-size: 14px;
}

.details {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.body-container{
    position: relative;
}

.card-body{
    padding-left: 0;
}

#blogViews{
    font-weight: 600;
}