@model BlogPostApiModel


<h1>@Model.Title</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Raw(Model.Content)
    </div>
</div>
<br />
<div>@Html.ActionLink("Back to blog posts", "Index", "BlogPost")</div>
